*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-families);
}
body{
    background:#0B1570 ;
}
:root{
    --button-colors:#0B1570;
    --font-families:sans-serif;
}
.sign-in{
    background-color: #F0F3FC;
    width: 55vh;
    margin: auto;
    margin-top:0.0em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 2em 2em;
}
.toggle{
    padding: 0.2em 0;
    width: 55vh;
    margin-top: 5em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.Page-Container{
    width: 55vh;
    height: 85vh;
    margin: auto;
    /* background: #000; */
}
#header{
    font-size: 2em;
    color: black;
    font-weight: bold;
    font-family: var(--font-families);
}
label{
    display: block;
    padding: 10px 0px;
    opacity: 0.5;
    color: black;
    text-transform: capitalize;
}
.form{
    margin-top: 5%;
}
input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
}
input:focus{
    outline-color: blue;
}
input[type='submit']{
    background-color: #0B1570;
    color: white;
    text-align: center;
    font-size: 1.1em;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    position: relative;
}
.input-google{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
    text-align: center;
    color: rgba(0, 0, 0, 0.671);
    padding-top: 4%;
    cursor: pointer;
}
.sign-in-register{
    width: 100%;
    height: 70px;
    padding-left: 10px;
    margin-top: 2%;
    text-align: center;
    color: black;
    padding-top: 6%;
}
.checks{
    width: 100%;
    height: 40px;
    margin-top:5%;
    font-size: 1em;
}
input[type='checkbox']{
    height: 18px;
    width: 18px;
}
#forgot{
    color: blue;
    float: right;
}
.sign-up{
    background-color: #F0F3FC;
    width: 55vh;
    margin: auto;
    position: absolute;
    top: 18.5%;
    left: 37.2%;
    transform: translateY(-5px);
    padding: 2em 2em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.css-animate{
    color: white;
}
.eye{
    float: right;
    transform: translate(-5px,-35px)
}
.spinner {
   width: 12px;
   height: 12px;
   display: block;
   position: absolute;
   left: 50%;
   margin-top: 10%;
   z-index: 12;
   border: 11.2px white double;
   border-left-style: solid;
   border-radius: 50%;
   animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
   to {
      transform: rotate(360deg);
   }
}
